<!-- app/templates/components/login-form.hbs -->
<form {{action "authenticate" on="submit"}}>
  <label for="identification">Login</label>
  {{inputs/email-input placeholder="Insira seu e-mail:"}}

  <label for="password">Password</label>
  {{inputs/password-input placeholder="Insira sua senha:"}}

  <button type="submit">Login</button>
</form>

{{#if errorMessage}}
  {{errorMessage}}
{{/if}}
