<h2 class="form-signin-heading">Por favor, informe seus dados de acesso</h2>

{{inputs/email-input
  value=email
  placeholder="Insira seu e-mail:"
  actionOnFimValidacao="actValidarCampoEmail"}}

{{inputs/password-input
  value=senha
  placeholder="Insira sua senha:"
  actionOnFimValidacao="actValidarCampoSenha"}}

<button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>

{{bootstrap/box-alert}}
