<div class="row">
  <div class="col-lg-12">
    {{inputs/generic-input
      value=nome
      lengthMinimo=1
      maxlength=255
      placeholder="Nome da categoria de produto:"
      actionOnFimValidacao="actValidarNome"}}
  </div>
</div>
<br>
<div class="row">
  <div class="col-lg-12">
    {{inputs/generic-input
      value=descricao
      lengthMinimo=1
      maxlength=255
      placeholder="Descrição da marca:"
      actionOnFimValidacao="actValidarDescricao"}}
  </div>
</div>
<br>

<div class="row">
  <div class="col-lg-12">
    {{#link-to "categorias-de-produto" class="btn btn-default"}}<i class="fa fa-long-arrow-left"></i>&nbsp;Voltar{{/link-to}}
    <button class="btn btn-primary pull-right" type="submit"><i class="fa fa-floppy-o"></i>&nbsp;Salvar</button>
  </div>
</div>

<br>

<div class="row">
  <div class="col-lg-12">
    {{bootstrap/box-alert}}
  </div>
</div>
