{{inputs/generic-input
  value=nome
  lengthMinimo=1
  maxlength=255
  placeholder="Nome:"
  actionOnFimValidacao="actValidarNome"}}

{{select-options-tipo-pessoa
  actionOnChange="actAtribuirTipoPessoa"}}

{{bootstrap/box-alert}}

<button type="submit">Cadastrar</button>
