<div class="alert alert-dismissible" role="alert" style="display:none;">


  {{#if showCloseButton}}
  <button type="button" class="close">
    <span aria-hidden="true">&times;</span>
  </button>
  {{/if}}

  <div class="form-alert-content">
    <strong>Hello World!</strong>
  </div>

</div>
