<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active"><a href="#tab-pessoa-identificacao" aria-controls="home" role="tab" data-toggle="tab" {{action "actRedirecionar" "pessoa.identificacao"}}>identificação</a></li>
  <li role="presentation"><a href="#tab-pessoa-enderecamento" aria-controls="profile" role="tab" data-toggle="tab" {{action "actRedirecionar" "pessoa.enderecamento"}}>Endereçamento</a></li>
  <li role="presentation"><a href="#tab-pessoa-contato" aria-controls="messages" role="tab" data-toggle="tab" {{action "actRedirecionar" "pessoa.contato"}}>Contato</a></li>
</ul>
