<!-- Progress Bar -->

<div align="center" class="fond">
  <div class="spinner-wrap">
    <div class="spinner">
      <i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i>
    </div>
  </div>
</div>
