<div class="container animated fadeIn">
  <h3>Nova pessoa</h3>
  {{forms/new-pessoa
    isEdit=false
    model=model.pessoa
    tiposPessoa=model.tiposPessoa
    actionOnSubmitted="actRedirecionar"}}
</div>
