<div class="animated fadeIn">
  <h3>Novo grupo de parâmetro NFSe</h3>
  {{forms/new-grupo-parametro-nfse
    grupoParametroNFSe=model.grupoParametroNFSe
    actionOnSubmitted="actRedirecionarAposCadastro"}}
</div>
