<div class="container animated fadeInUp">
  {{#if model.length}}

  {{#link-to "cadastrar-categoria-de-produto"}} Cadastrar Categoria de Produto {{/link-to}}

  <div class="container">
    <h1>Listagem de Categorias de Produto</h1>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Descrição</th>
        </tr>
      </thead>
      <tbody>
        {{#each model as |categoriaProduto index|}}
        <tr>
          <td>{{categoriaProduto.nome}}</td>
          <td>{{categoriaProduto.descricao}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

  <div class="pagination-center text-center">
  {{bootstrap/dynamic-pagination
    class="pagination"
    actionOnClick="actPaginar"
    totalPaginas=pagination.total_pages
    paginaAtual=pagination.current_page
    mostrarProximoAnterior=true}}
  </div>

  {{else}}

  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="error-template">
                  <h1>
                      Não há categorias de produto a serem listadas</h1>
                  <div class="text-center">
                      Nenhum registro foi encontrado.
                  </div>
                  <div class="error-actions">
                    {{#link-to "cadastrar-categoria-de-produto" class="btn btn-primary btn-lg"}} Cadastrar nova categoria de  produto {{/link-to}}
                    {{#link-to "index" class="btn btn-default btn-lg"}} Voltar {{/link-to}}
                  </div>
              </div>
          </div>
      </div>
  </div>

  {{/if}}
</div>
