<div id="box-login" class="animated fadeIn">
  <div class="container">
  	<div class="box-login">
  		<div class="col-sm-3"></div>
  		<div class="col-sm-6 campos-login">
  			<div class="principal-tit text-center">
  				<h3>Informe seus dados para entrar no sistema</h3>
  			</div>
  			<br>
          {{forms/login-form
            class="form-signin animated fadeInUp"}}
  		</div>
  	</div>
  </div>
</div>
