<div>

  {{bootstrap/navtab-cadastro-pessoa
    actionOnClick="actRedirecionar"}}


  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="tab-pessoa-identificacao"></div>
    <div role="tabpanel" class="tab-pane" id="tab-pessoa-enderecamento"></div>
    <div role="tabpanel" class="tab-pane" id="tab-pessoa-contato"></div>
    {{outlet}}
  </div>

  <button>Salvar</button>


</div>
