<div>

  {{bootstrap/navtab-cadastro-pessoa
    actionOnClick="actRedirecionar"}}


  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="tab-pessoa-identificacao">{{outlet}}</div>
    <div role="tabpanel" class="tab-pane" id="tab-pessoa-enderecamento">{{outlet}}</div>
    <div role="tabpanel" class="tab-pane" id="tab-pessoa-contato">{{outlet}}</div>
  </div>

</div>
