<div class="container">
  <h1>Listagem de pessoas</h1>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Tipo</th>
        <th>Visualizar</th>
      </tr>
    </thead>
    <tbody>
      {{#each model as |pessoa index|}}
      <tr>
        <td>{{pessoa.nome}}</td>
        <td>{{pessoa.tipoPessoa.nome}}</td>
        <td>{{#link-to "pessoa" pessoa class="btn btn-default"}}Visualizar{{/link-to}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>

{{bootstrap/dynamic-pagination
  class="pagination"
  actionOnClick="actPaginar"
  totalPaginas=pagination.total_pages
  paginaAtual=pagination.current_page
  mostrarProximoAnterior=true}}
